.red {
    color: red;
}
.striped{
	text-decoration:line-through;
}
.yellow{
color:yellow;
}
.green{
color:green;
}
.blue{
color:blue;
}
.hat{
    background-color:turquoise;
		}
img{
    width:50px;
    border-style:solid;
        }












