body{
    font-family: arial;
    text-align:center;
}

img {
    width: 200px; 
    clear:both;
    border-radius:20px;
    margin-top:30px;
}
li{
    background:lightblue;
    float: left;
    padding:5px; 
    margin:5px;
	border:1px dashed green;
}

ul{
    list-style: none;
    overflow: auto;
}
