body{
    width: 600px;
    margin: 0% auto;
    text-align: center;
    font-family: 'Piazzolla', serif;
    background-color:rgb(226, 209, 209);
    
  }
  .polita{
    border-radius:50px;
  }     
   
ul{
  list-style: none;
}
body> div{
 margin:auto;
 width:100%;
 text-align:center;
 background-color:white;
 border-radius:5px;
 box-shadow: 4px 4px grey;
}
.discover, .skills, .hobbies{
  border-radius: 50px;
  border-style: none;
  background-color: indianred;
  padding:5px;
}