body{
    background-color: azure;
}

.display{
    /* display:flex;
    flex-flow: row wrap;  */
    /* max-width:4; */
    display: grid;
    grid-template-columns: auto auto auto auto;
        }
.subDiv {width: 80%;
        margin: 8px 10px 10px 8px;
        padding: 10px;
        box-shadow: 10px 10px 20px -2px rgba(12, 10, 10, 0.3);
        text-align: center;
        background-color: aquamarine;
        font-family: 'Playfair Display', serif;
        border-radius:10px;
         }
.subDiv:hover{
        background-color:violet;
}